* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-container {
  width: 100%;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 64px;
}

.row {
  display: flex;
}

.square {
  background-color: lightblue;
  border: solid blue 0.01px;
  display: inline;
}
